
.banner {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    height: 500px;
    margin-top: 20px;
    background-color: #4186b7;
    box-shadow: 4px 4px 3px 3px lightgrey

}

.img {
    background-image: url("../../../pictures/javascript-seo-6058805daaa6a.png");
}

@media only screen and (max-width: 1500px) {
    .banner-img {
        display: none;
    }
}

.banner-img {
    height: inherit;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    height: 800px;
    margin-top: 40px;
}

.card {
    display: flex;
    width: auto;
    height: 18rem;
    background-color: #4186b7;
    box-shadow: 4px 4px 3px 3px lightgrey;
}
/*
display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    */