
.banner {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    height: 500px;
    margin-top: 20px;
    background-color: #4186b7;
    box-shadow: 4px 4px 3px 3px lightgrey

}

.img {
    background-image: url("../../../pictures/javascript-seo-6058805daaa6a.png");
}

@media only screen and (max-width: 1500px) {
    .banner-img {
        display: none;
    }
}

.banner-img {
    height: inherit;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    height: 800px;
    margin-top: 40px;
}

.card {
    display: flex;
    width: 18rem;
    height: 16rem;
    background-color: #4186b7;
    box-shadow: 4px 4px 3px 3px lightgrey;
}

.swipe-container {
    display: flex;
    align-items: center;
    width: 85%;
    height: 18rem;
}

.swipe-card {
    min-width: 100%;
    height: 100%;
}

.card1 {
    background-color: #6200EE;
}

.card2 {
    background-color: #018786;
}

.card3 {
    background-color: #3700B3;
}

.card4 {
    background-color: #03DAC6;
}

/*
display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    */