.home-container {
    display: flex;
    height: 3000px;
    width: 100%;
    background: transparent;
    z-index: 0;
}



.profile-details {
    display: flex;
    justify-content: center;
    flex-grow: 14;
    background: transparent;
    z-index: 0;
    margin-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    box-shadow: 4px 2px 2px 1px lightgrey;
    margin-bottom: -110px;
    background-color: #225577;
    width: 587.047px;
}
.img-container {

}
.main_pic {
    box-shadow: 0px 0px 4px 2px #2e2e2e;
    max-width: 26%;
    height: 100%;
    border-radius:50%;

}