.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image:linear-gradient(159deg,#92d2ff 0%, #2d2d3a 450%);*/
    width: 100%;
    height: 70px;
    box-shadow: 0px 4px 2px lightgrey;
    z-index: 3;
    border-bottom: 1px solid;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
    /*background-color: aquamarine;*/
  }

  .navbar-ul {
    display: flex;
    margin-right: 690px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    padding-left: 0;

    width: 450px;
    height: 100%;
    background-color: white;
  }

  a {
    padding: 8px 8px 8px 8px;
  }

  .navbar-li {
    display: flex;
    align-items: center;
  }

  .linkin {
    /*content: url(../../pictures/icons8-linkedin-100.png);*/
    height: 50px;
  }
  
  .instagram {
    /*content: url(../../pictures/icons8-instagram-100.png);*/
    height: 50px;
  }

  .github {
    /*content: url(../../pictures/icons8-github-squared-100.png);*/
    height: 50px;
  }

  .navbar-icon-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    /*background-color:rgb(153, 193, 211);*/
  }

.icon-anchor {
    display: flex;
}

.nav-links:hover {
  color:blue;
  cursor: pointer;
}