.nav {
    background-color: currentColor;
    /*
    margin: 32px auto;
    max-width: 1116px;
    */
}
/*------Effects all images in the application(only good for stand alone pic of apod url)------
img {
    height: 3.4rem;
    width:auto;
}
*/
#nasa-icon {
    height: 3.4rem;
    width: auto;
}

.nav-item {
    align-self: center;
}
.nav-item {
}
.card {
    width: 1049.420px;
}

/*--------Responsive screen--------*/
@media only screen and (max-width: 1083px) {
    .nav-item:nth-child(odd) {
        display: none;
    }
    .nav-item:nth-child(even) {
        display: none;
    }
    .nav-item:nth-child(6) {
        display: contents;
        justify-self: left;
    }
    .nav {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap !important;
    }
    .nav-item:nth-child(1) {
        justify-self: center;
        display: contents;
    }

    @media only screen and (max-width: 524px) {
    .nav {
        flex-wrap: inherit !important;
        width: 400px;
    }
}
}